DEBUG=True
SECRET_KEY=django-secret-key
STRIPE_PUBLIC_KEY_USD=test_stripe_public_usd_key
STRIPE_SECRET_KEY_USD=test_stripe_secret_usd_key
STRIPE_PUBLIC_KEY_EUR=test_stripe_public_eur_key
STRIPE_SECRET_KEY_EUR=test_stripe_secret_eur_key
